---
import SplitLayout from "../layouts/SplitLayout.astro";
import '../assets/styles/style.css'
import ListLayout from '../layouts/ListLayout.astro';
import '../assets/styles/style.css'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title> Support2You </title>
	</head>
	<body>
		<div>
			<ListLayout title="Support2You"/>
		</div>
		<h1>Astro</h1>
		<SplitLayout rightWeight="1">
			<div slot="left">
				Lista
			</div>
			<div slot="right">
				Chat
			</div>
		</SplitLayout>
	</body>
</html>


