---
import "./Chat.css";
import ChatBotImg from "../assets/images/chatbot.png";
---

<div class="chat-wrapper">
  <div class="chat">
    <div class="message message--bg-light">
      <img class="message__image" src={ChatBotImg.src} alt="" />
      <span class="message__text">Hello there! How can I help you today. </span>
    </div>
  </div>

  <div class="bar">
    <div class="bar-wrapper">
      <form>
        <input
          class="bar__control"
          type="text"
          placeholder="Enter your message..."
        />
        <button type="submit" class="bar__btn">
          <span class="material-symbols-rounded">Send</span>
        </button>
      </form>
    </div>
  </div>
</div>
<script>
  import "../scripts/chat";
</script>
