--- 
import ChatBox from "./client/chat/ChatBox";
---

<style>
  .chat-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
</style>

<div class="chat-wrapper">
  <ChatBox client:load />
</div>
