---
const { title } = Astro.props
---
    <!-- SideBar - Busqueda Recientes  -->
	<div class="sidebar close">
        <div class="logo-details">
            <i class='bx'></i>
            <span class="logo_name">Recientes...</span>
        </div>
        <ul id="search-list" class="nav-links"></ul>
    </div>
    <!-- SideBar - Busqueda Recientes  -->
    
    <!-- Navbar  -->
    <section class="home-section">
        <div class="home-content">
            <button onclick="getItems()" class='bx bx-menu btn'></button>

            <span class="text"> { title } </span>
        </div>
    </section>
    <!-- Navbar  -->

    
    <div class="one">
        <!-- PRUEBAS  -->
        <section>
            <h1 style="padding: 50px;">Lista de Publicaciones</h1>
            <div id="search-details" class="text"></div>   
        </section>
        
        <!-- PRUEBAS -->


<script>
    import '../scripts/List'
</script>

