.sidebar {
  width: 250px;
  height: 100vh;
  overflow: auto;
  background: #11101d;
  transition: all 0.5s ease;
  scrollbar-color: gray white;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.sidebar__header {
  border-bottom: 0.5px solid gray;
  padding: 0.5rem 0;
}

.sidebar__title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 300;
  color: #fff;
}

.nav {
  color: #fff;
}

.nav__items {
  list-style-type: none;
}

.nav__item {
  cursor: pointer;
  padding: 0.75rem 0 0.75rem 1rem;
  transition: background-color 250ms ease-in;
}

.nav__item:hover {
  background-color: #292830;
}
