---
import "./TicketList.css";
---

<div>
  <div class="sidebar">
    <div class="sidebar__header">
      <h1 class="sidebar__title">Support2You</h1>
    </div>
    <nav class="nav">
      <ul class="nav__items"></ul>
    </nav>
  </div>
</div>

<script>
  import "../scripts/ticket-list";
</script>
